streamlit
pandas
numpy
requests
matplotlib
plotly
scikit-learn
tensorflow
firebase-admin
streamlit-lottie
streamlit-plotly-events
streamlit-ace
streamlit-aggrid
streamlit-components
geopy
folium
opencv-python
Pillow